@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>If you can't tell by the title of the blog. This blog is about all the types of Legos.</p>
<p>Here you can see everything about legos.</p>