@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>





<address>
    <strong>Support:</strong>  If you are having a problem and need help, send an email to <a href="mailto:martin.stamper1123@gmail.com">martin.stamper1123@gmail.com</a>
</address>