
@{
    ViewBag.Title = "Pirates Of The Caribbean";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Got something you want to share about the Lego Pirates Of The Caribbean Brand post it here.</p>

<p><input type="Text" /> <input type="submit" value="Submit" /></p>